body {
	margin: 0;
	padding: 0;
	font-family: "Montserrat", sans-serif;
}

header {
	background: #282828;
	color: whitesmoke;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 1.5625rem;
	display: flex;
	align-items: center;
	gap: 1rem;
}

li {
	cursor: pointer;
}

.logo {
	font-size: 1.125rem;
	font-weight: 700;
}

.icon {
	width: 1.5625rem;
}

.align-right {
	margin-left: auto;
}

h1 {
	font-size: 2.5rem;
	font-weight: 400;
	margin: 1.875rem 1.5625rem;
}
.item {
	position: relative;
}
.item-img {
	width: 100%;
	display: block;
}

.caption {
	margin: 0 1.5625rem;
	display: flex;
	justify-content: space-between;
	gap: 1.25rem;
}

.img-banner {
	background: #cd6858;
	color: whitesmoke;
	padding: 0.625rem;
	position: absolute;
	top: 0;
}

button {
	border: none;
	background: #cd6858;
	color: whitesmoke;
	padding: 0.625rem 0.9375rem;
	font-weight: 700;
	cursor: pointer;
	align-self: center;
}

.chatbox-bg {
	background-color: #dda15e;
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 50%;
	cursor: pointer;
	box-shadow: 1px 1px 5px #999;
	display: flex;
	position: fixed;
	bottom: 0.375rem;
	right: 0.375rem;
}

.chatbox-img {
	margin: auto;
	width: 50%;
}
